/* General Styling: */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    /* background: rgb(13,255,19);
    background: linear-gradient(0deg, rgba(13,255,19,1) 0%, rgba(255,255,255,1) 100%); */
}
footer {
    position:  relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: auto;
}
.navbar {
    background-color: #9186eb;
}

.card {
    margin: 1rem;
}

.card-title{
    display:inline-block;
    width:100px;
    margin: 0;
    margin-left:47px;
}
.custom-control{
    display:inline-block;
    width:20px;
}
.card-spinner{
    margin:10px;
    color: #6046cf !important;

}
.btn{
    background-color: #6046cf !important;
}
.btn-outline-light{

    color: #BDBDBD!important;
    cursor: pointer;
    background: #fff!important;
}
.btn-outline-light:hover {
    border: 1px solid;
}


#search-btn{
    justify-content: center;
    margin-top:14px;
    width:2.5rem;
    height:40px;
    color: #fff;
}
#search-spinner{
    margin:0;
    width:16px;
    height:16px;
    color: #fff;
    display: none;
}
