/* General Styling: */

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    text-align: center;
    /* background: rgb(13,255,19);
    background: linear-gradient(0deg, rgba(13,255,19,1) 0%, rgba(255,255,255,1) 100%); */
    background: radial-gradient(circle, rgba(234,162,17,1) 0%, rgba(12,28,40,1) 44%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
    line-height: 1;
    font: 300 18px/1.5 'Roboto', sans-serif;
    color: #0C1C28;
}

html {
    scroll-behavior: smooth;
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: auto;
}

.nav-area {
    width: auto;
    height: 100vh;

    background-image: url("../assets/images/blockchain-bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: radial-gradient(circle, rgba(234,162,17,1) 0%, rgba(12,28,40,1) 16%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.navbar-brand, .nav-link {
    color: #2d6fa5 !important;
}
.nav-link-active{
    color: #18476d !important;
}

.navbar-brand:hover,.nav-link:hover {
    color: #71d7ff !important;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #2d6fa5;
}

.card {
    margin: 1rem;
}

.card-body {
    background-color: #d1e8ff;
}

.card-title {
    display: inline-block;
    width: 100px;
    margin: 0;
    margin-left: 47px;
}

.custom-control {
    display: inline-block;
    width: 20px;
}

.card-spinner {
    margin: 10px;
    color: #2d6fa5 !important;
}

.btn {
    background-color: #2d6fa5 !important;
}

.btn-outline-light {
    color: #BDBDBD!important;
    cursor: pointer;
    background: #fff!important;
}

.btn-outline-light:hover {
    border: 1px solid;
}

#search-btn {
    justify-content: center;
    margin-top: 14px;
    width: 2.5rem;
    height: 40px;
    color: #fff;
}

#search-spinner {
    margin: 0;
    width: 16px;
    height: 16px;
    color: #fff;
    display: none;
}

#liveReportsComponent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollToTop{
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    font-weight: bold;
    color: #1c486d;
    text-decoration: none;
    position:fixed;
    bottom:5px;
    right:40px;
    display:none;

}
.fa-arrow-up{
    width:100px; 
    height:130px;
    font-size: 45px;
}
.scrollToTop:hover{
    color: #9d392a;
}