/* General Styling: */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    /* background: rgb(13,255,19);
    background: linear-gradient(0deg, rgba(13,255,19,1) 0%, rgba(255,255,255,1) 100%); */
}
footer {
    position:  relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: auto;
}
.card {
    margin: 1rem;
}
.card-header {
    /* justify-content:center;
    margin-right: 0;
    margin-left: 0; */
}
.card-title{
    display:inline-block;
    width:100px;
    margin: 0;
    margin-left:47px;
}
.custom-control{
    display:inline-block;
    width:20px;
}
.spinner-border{
    margin:10px;
}